<!doctype html>
<html ng-app="App">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-sanitize.min.js"></script>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO1EwzCKCAYhpfPtQyJTkLJyNsdsSbp1c"></script>
  <script src="bus.js?v=14"></script>
</head>

<body>
  <div class="container">
    <div ng-controller="BusController">
      <button class="btn btn-info" ng-disaled="loading" ng-click="refresh()">Refresh now!</button> <span
        ng-hide="loading">Next refresh in {{nextRefresh}} sec.</span><span ng-show="loading">Loading...</span>
      <div style="text-align: center; font-weight: bold; font-size: 18px;">
        <span ng-bind-html="stop.title"></span>&nbsp;
        <img style="cursor: pointer;" src="https://maps.google.com/mapfiles/ms/icons/green-dot.png" ng-click="mapCenterOnStop(stop)"/>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Time</th>
            <th>Bus</th>
            <th>Route</th>
            <th>Bus Number</th>
            <th>Bus Speed</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in allPredictions | filter: isWithinMinutes | orderBy: 'minutes'">
            <td>
              {{p.minutes}} min.
            </td>
            <td>
              <span ng-bind-html="p.route"></span>
            </td>
            <td>
                <span ng-bind-html="p.routeTag"></span>
            </td>
            <td>
              {{p.vehicle}} <img style="cursor: pointer;" src="https://maps.google.com/mapfiles/ms/icons/red-dot.png" ng-click="mapCenterOnVehicle(p.vehicle)"/>
            </td>
            <td>
                {{getVehicleSpeed(p.vehicle)}} km/h
              </td>
          </tr>
        </tbody>
      </table>

      <div id="map" style="width:100%; height: 300px"></div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Config</h5>
          <div class="card-text">
            <div>Agency
              <input type="text" class="form-control" ng-model="config.agency" ng-change="refresh()" />
            </div>
            <div>Stop Number <span style="margin-right: 10px; cursor: pointer;" ng-repeat="s in presetStopIds"
                class="badge badge-secondary" ng-click="setStopId(s)">{{s}}</span>
              <input type="number" class="form-control" ng-model="config.stopId" ng-change="refresh()" />
            </div>
            <div>Hide routes:
              <input type="text" class="form-control" ng-model="config.hiddenRouteTags" ng-change="refresh()" />
            </div>
            <div>Only show within X minutes
              <input type="number" class="form-control" ng-model="config.minutesToShow" ng-change="refresh()" />
            </div>
          </div>
        </div>
      </div>


    </div>
</body>

</html>